*.DS_Store
*.sublime-*
_gh_pages
bower_components
node_modules
npm-debug.log
actual
test/actual
temp
tmp
todos.md
vendor
.idea
/scratches
/test/mimetypes.txt
/test/mimetypes_single.json
/test/fixtures/extensions/*.zip